/***********************************************************
						BASE
***********************************************************/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	text-decoration: none;
}



/***********************************************************
						HEADER LEFT
***********************************************************/

#header {
	background-color: #f1f1f1;
	height: 60px;
}

#header > div {
	float: left;
}


.logo {
	height: 34px;
	margin: 0 20px;
	position: relative;
	top: 15px;
	width: 91px;
}

.search {
	position: relative;
	width: 70%;
}

.search input {
	border: 1px solid #d9d9d9;
	height: 40px;
	width: 63%;
}

.micro,
.mag {
	position: absolute;
}

.micro {
    height: 24px;
    right: 215px;
    top: 18px;
    width: 24px;
}

.mag {
	top: 10px;
}



/***********************************************************
						HEADER RIGHT
***********************************************************/

.user {
	width: 30%;
	text-align: right;
}

.user li {
	display: inline-block;
	margin-left: 3%;
}

.user-options {
	position: relative;
	top: 5px;
}

.user-notif,
.user-pic {
	border-radius: 50%;
}

.user-notif {
	background-color: tomato;
	color: #fff;
	display: block;
	font-family: sans-serif;
	font-size: .8em;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
}

.user-pic {
	margin-right: 35px;
	position: relative;
	top: 13px;
}